.section-padding {
  padding: 6.06667rem 0 6.66667rem;
  padding: 110px 0;
}
.section-padding.search-form-wrapper-parent {
  padding: 192px 0 186px 0;
  .kc-wrap-columns {
    >.col-md-12 {
      position: static;
    }
  }
}
.search-form-wrapper.search-form-wrapper--one {
  width: 100%;
  padding: 0 15px;
}
.directorist-search-contents {
  .directorist-search-form-wrap {
    .directorist-search-form-box {
      .directorist-search-form-top {
        .directorist-search-field.directorist-icon-left {
          .directorist-filter-location-icon {
            i {
              --directorist-icon: url('../../../assets/images/line-awesome/svgs/crosshairs-solid.svg');
            }
            span {
              --directorist-icon: url('../../../assets/images/line-awesome/svgs/crosshairs-solid.svg');
            }
          }
        }
      }
    }
    .directorist-search-form-action {
      .directorist-btn-search {
        .directorist-icon-mask {
          --directorist-icon: url('../../../assets/images/line-awesome/svgs/search-solid.svg');
        }
      }
    }
  }
}
.directorist-listing-category-top {
  ul {
    li {
      a {
        i.search-solid {
          --directorist-icon: url('../../../assets/images/line-awesome/svgs/search-solid.svg');
        }
        i.beer-solid {
          --directorist-icon: url('../../../assets/images/line-awesome/svgs/beer-solid.svg');
        }
        i.music-solid {
          --directorist-icon: url('../../../assets/images/line-awesome/svgs/music-solid.svg');
        }
        i.car-solid {
          --directorist-icon: url('../../../assets/images/line-awesome/svgs/car-solid.svg');
        }
        i.lock-solid {
          --directorist-icon: url('../../../assets/images/line-awesome/svgs/lock-solid.svg');
        }
      }
    }
  }
}
@media (max-width: 1600px) {
  .search-form-wrapper.search-form-wrapper--two {
    .search-form-img {
      right: -10%;
    }
  }
}
@media (min-width: 1199.98px) and (max-width: 1499.98px) {
  .section-padding.search-form-wrapper-parent {
    padding: 162px 0 156px 0;
  }
  .search-form-wrapper.search-form-wrapper--two {
    .search-form-img {
      top: 50%;
    }
  }
}
@media (max-width: 1199.98px) {
  .section-padding.search-form-wrapper-parent {
    padding: 162px 0 156px 0;
  }
  .search-form-wrapper.search-form-wrapper--two {
    .search-form-img {
      top: 46%;
    }
  }
}
@media (max-width: 991.98px) {
  .section-padding.search-form-wrapper-parent {
    padding: 100px 0 100px 0;
    .col-sm-12.col-md-12 {
      position: relative;
    }
  }
  .search-form-wrapper.search-form-wrapper--two {
    .search-img-wrapper {
      position: relative;
    }
    .search-form-img {
      position: static;
      right: auto;
      top: auto;
      -webkit-transform: none;
      transform: none;
      padding-top: 50px;
      text-align: center;
      img {
        max-height: none;
        max-width: 100%;
      }
    }
  }
}
@media (max-width: 575.98px) {
  .section-padding {
    padding: 60px 0;
  }
  .section-padding.search-form-wrapper-parent {
    padding: 50px 0;
  }
}
@media only screen and (max-width: 1024px) {
  .search-form-wrapper.search-form-wrapper--one {
    padding: 0;
  }
}
