:root{
  --toastify-color-light: #272727;
  --toastify-text-color-light: #fff;
}
.Toastify__toast{
  position: relative;
  box-shadow: 0px 11px 21px 5px #000000;
  border-radius: 10px;
  &:before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: inherit;
    padding: 4px;
    background: linear-gradient(135deg,
                            #E8A3FF 0%,
                            #A8BFFF 15%,
                            #2EFCA8 45%,
                            #A8BFFF 75%,
                            #E8A3FF 90%,
                            #E8A3FF 100%);
    -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    pointer-events: none;
  }
  .Toastify__toast-body{
    padding: 34px 32px 34px; //button here?? down
  }
  .Toastify__close-button--light{
    color: #fff;
    opacity: 1;
  }
  .Toastify__toast-icon{
    align-self: flex-start;
    // width: 34px;
    // height: 34px;
    background: #272727;
    border-radius: 5px;
    position: relative;
    margin-inline-end: 17px; //10def + 7 ((34 - 20) / 2)
    &:before {
      content: "";
      position: absolute;
      width: 34px;
      height: 34px;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      border-radius: inherit;
      padding: 4px;
      background: linear-gradient(135deg,
                              #E8A3FF 0%,
                              #A8BFFF 15%,
                              #2EFCA8 45%,
                              #A8BFFF 75%,
                              #E8A3FF 90%,
                              #E8A3FF 100%);
      -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
      -webkit-mask-composite: xor;
      mask-composite: exclude;
      pointer-events: none;
    }
  }
}