.breadcrumb {
    display: flex;
    flex-wrap: wrap;
    padding: 0.75rem 1rem;
    margin-bottom: 1rem;
    list-style: none;
    background-color: #040c44;
    border-radius: 0.25rem;
}
:root {
    --color-primary: #040c44;
    --color-primary-rgb: 4, 12, 68;
    --color-secondary: #040c44;
    --color-secondary-rgb: 4, 12, 68;
    --color-success: #53ca2e;
    --color-info: #2c99ff;
    --color-danger: #f51957;
    --color-warning: #fa8b0c;
}
