
i.search-solid {
--directorist-icon: url('../../assets/images/line-awesome/svgs/search-solid.svg');
}
i.star-solid {
--directorist-icon: url('../../assets/images/line-awesome/svgs/star-solid.svg');
}
i.star-half {
--directorist-icon: url('../../assets/images/line-awesome/svgs/star-half-alt-solid.svg');
}
i.star {
--directorist-icon: url('../../assets/images/line-awesome/svgs/star.svg');
}
i.beer-solid {
--directorist-icon: url('../../assets/images/line-awesome/svgs/beer-solid.svg');
}
i.music-solid {
--directorist-icon: url('../../assets/images/line-awesome/svgs/music-solid.svg');
}
i.car-solid {
--directorist-icon: url('../../assets/images/line-awesome/svgs/car-solid.svg');
}
i.lock-solid {
--directorist-icon: url('../../assets/images/line-awesome/svgs/lock-solid.svg');
}
i.map-marker-solid {
--directorist-icon: url('../../assets/images/line-awesome/svgs/map-marker-solid.svg');
}
i.clock-solid {
--directorist-icon: url('../../assets/images/line-awesome/svgs/clock-solid.svg');
}
i.phone-solid {
--directorist-icon: url('../../assets/images/line-awesome/svgs/phone-solid.svg');
}
i.map-solid {
--directorist-icon: url('../../assets/images/line-awesome/svgs/map-solid.svg');
}
i.grip-hori-solid {
--directorist-icon: url('../../assets/images/line-awesome/svgs/grip-horizontal-solid.svg');
}
i.list-solid {
--directorist-icon: url('../../assets/images/line-awesome/svgs/list-solid.svg');
}
i.filter-solid {
--directorist-icon: url('../../assets/images/line-awesome/svgs/filter-solid.svg');
}
