// fonts
$font-base: 'Space Grotesk', sans-serif;

// colors
$white: #ffffff;
$black: #000000;
$darkgrey: #272727;
$gray: #C4C4C4;
$copy-text-color: #C7C7C7;
$pastel-pink: #E8A3FF;
$pastel-blue: #A8BFFF;
$turquoise: #63D0E5;
$sugar-green: #2EFCA8;
$disabled-grey: #7A7A7A;
$disabled-grey-primary: #121212;
$disabled-grey-secondary: #646464;
$black-with-transparency: #00000099;
$slightly-lighter-grey: #F8F8F8;
$dark-primary: #1C1C28;
$dark-100: #28293D;
$dark-200: #555770;
$dark-300: #8F90A6;
$dark-400: #C7C9D9;
$pink-primary: #E85EA8;
$pink-darker: #D12E86;
$pink-lighter: #EF9FCA;
$pink-subtle: #FFF7FB;
$red-primary: #E53535;
$red-100: #FF3B3B;
$red-200: #FF5C5C;
$red-300: #FF8080;
$red-400: #FFE6E6;
$light-primary: #E4E4EB;
$light-100: #EBEBF0;
$light-200: #F2F2F5;
$light-300: #FAFAFC;
$light-400: #FFFFFF;
$yellow-100: #FFCC00;
$green-primary: #05A660;
$green-100: #06C270;
$gray-300: #606170;

//Elevations
$elevation-inset: inset 0px 0.5px 4px;
$elevation1-1: 0px 0px 1px;
$elevation1-2: 0px 0.5px 2px;

$elevation2-1: 0px 0px 1px;
$elevation2-2: 0px 2px 4px;

$elevation3-1: 0px 0px 2px;
$elevation3-2: 0px 4px 8px;

$elevation4-1: 0px 2px 4px;
$elevation4-2: 0px 8px 16px;

$elevation5-1: 0px 2px 8px;
$elevation5-2: 0px 16px 24px;

$elevation6-1: 0px 2px 8px;
$elevation6-2: 0px 20px 32px;
$radial-gradient: radial-gradient(
    107.29% 790.61% at -50.94% -28.11%,
    rgba(253, 237, 114, 0.2) 0%,
    rgba(115, 223, 231, 0.2) 18.23%,
    rgba(172, 93, 217, 0.088) 38.02%,
    rgba(255, 128, 128, 0.12) 58.33%,
    rgba(115, 223, 231, 0.14) 78.65%,
    rgba(253, 237, 114, 0.06) 100%
  ),
  #ffffff;

//base of BS breakpoints
$screen-xs:					0;
$xs:						$screen-xs;
$screen-sm:					576px;
$sm:						$screen-sm;
$screen-md:					768px;
$md:						$screen-md;
$screen-lg:					992px;
$lg:						$screen-lg;
$screen-xl:					1200px;
$xl:						$screen-xl;
$screen-xxl:				1920px;
$xxl:						$screen-xxl;

// 0 - 1399
$screen1440:        1440px;
$under1400:       $screen1440;

//Builder
$floLeftSideBarWidth: 340px;
$floRightSideBarWidth: 320px;
$floLeftSideBarMobileWidth: 275px;
$floRightSideBarMobileWidth: 280px;

$floMobileActionPanelHeight: 40px;
$verifyEmailBannerHeight: 25px;
$floRightPanelBottomHeight: 104px;
$mFloRightPanelBottomHeight: 87px;

$pad-x: 15px;
$pad-y: 15px;
$maxcontentwidth: 1920px;
$header-height: 70px;
$appHeaderHeight: 90px;
$app-background-color: $black;
$dash-panel-bw: 7px;
$revcard-maxwidth: 202px;
$teamCardMaxWidth: 320px;
$partnercard-maxwidth: 300px;
$giveaway-header-height: 160px;
$partnerHeaderHeight: 110px;

